@page "{quizId}/{userId}"
@model Web.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<H3>@ViewData["Title"]</H3>
<p>Your score is @Model.CorrectAnswerCount</p>
<form method="post"> 
    <button type="submit">Generuje certyfikat do pdf</button>
    <input type="hidden" value="@Model.CorrectAnswerCount">
</form>
<form method="post" asp-page="Summary">
    <button type="submit">Generuj wynik do PDF</button>
</form>


